<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{details.0.CNote}}</title>
</head>
<body>
    <div class="container-fluid">
        <h3 class="text-center py-4 text-primary" style="font-family: poppins, sans-serif;">Tracking Details For {{details.0.CNote}}</h3>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="white-box">
                  <div class="table-responsive">
                    {% if details%}
                      <table class="table table-striped no-wrap">
                          <thead>
                              <tr>
                                  <th class="border-top-0 text-success" style="font-size:15px;">Date - Time</th>
                                  <th class="border-top-0 text-success" style="font-size:15px;">Location</th>
                                  <th class="border-top-0 text-success" style="font-size:15px;">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                            
                            {% for status in details %}
                              <tr>
                                  <td class="txt-oflo" style="font-size:15px;">{{status.DateTime}}</td>
                                  <td class="txt-oflo" style="font-size:15px;">{{status.Location}}</td>
                                  <td class="txt-oflo" style="font-size:15px;">{{status.Status}}</td>
                              </tr>
                              {% endfor %}
                              
                          </tbody>
                      </table>
                      {% else %}
                              <h1 class="text-danger text-center">No Data Found. Please Check Your Tracking Number</h1>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
    </div>
</body>
</html>